/*
/*/
!/.dotfiles
!/.bashrc
!/.README.md
!/.gitignore
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/today
!/.local/bin/ugene
!/.local/bin/plexdl

!/.local/lib
/.local/lib/*
!/.local/lib/plexdl
/.local/lib/plexdl/*
!/.local/lib/plexdl/README.md

!/.local/lib/ugene-36.0
/.local/lib/ugene-36.0/*
!/.local/lib/ugene-36.0/README
